:root {
    --blue-grey-50: #ECEFF1;
    --blue-grey-100: #CFD8DC;
    --blue-grey-200: #B0BEC5;
    --blue-grey-900: #263238;
    --black: #111111;
}

body {
    color: #000;
    text-align: center; 
}

/*header, footer styling*/

header, footer {
    background-color: var(--black);
    color: #fff;
    padding: 2rem 4rem;   
    margin-bottom: 0;
}

.logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 1.5rem;
    font-family: 'Libre Baskerville', serif;
}

.logo img {
    width: 6rem;
    height: auto; 
}

nav ul {
    list-style: none;
    padding-left: 0;  
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}

nav a {
    text-decoration: none;
    color: #fff;
}

.hero {
    background-color: var(--blue-grey-50);
    margin-top: 0;
    padding-top: 0;
}

.hero h2,
.hero p,
.hero .btn {
    margin-top: 0;
    padding-top: 4rem;
}

.star {
    font-size: 2.5rem;
    font-family: 'inter', sans-serif;
    font-weight: bold;
}

.hero img {
    width: 100%;
    padding: 32px;
}